@model PL.Models.Message.AllMessagesViewModel
    
<style>
    
    textarea{
        resize:none;
    }
</style>

@foreach (var m in Model.Messages)
{
    <div class="row">
            
        <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1">                   
            <img src="@Url.Action("GetImage", "Profile", new { Id = m.UserFromId})" class="img-circle img-responsive"/>
        </div>

        <div class="col-xs-8">
            <div class="row">
                <h3>
                    @m.NameOfSender
                </h3>
            </div>

            <div class="row">
                <small>
                    <i>Posted @m.Date</i>
                </small>
            </div>
            <div class="row"><h4> @m.Text</h4></div>
        </div>  
    </div>
}
<div id="new_message"></div> 
        
<div class="text-center">
    @using (Ajax.BeginForm("WriteDialogMessage", "Message", FormMethod.Post, new AjaxOptions
                                                            {
                                                                UpdateTargetId = "new_message",
                                                                InsertionMode = InsertionMode.ReplaceWith,
                                                                AllowCache = false
                                                            }))
    {
        @Html.Hidden("Id", Model.IdOfCompanion);
        <div class="row">
            <div class="col-md-6 col-md-offset-3 form-group">
                @Html.TextArea("Text", new { rows = 6, @class = "form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-6 form-group">

                <button type="submit" class="btn btn-success btn-block">Send</button>
            </div>
        </div>
    }
</div>




