@model PL.Models.Profile.EditProfileViewModel
    
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new Dictionary<string, object> { { "data-toggle", "validator" }, { "class", "jumbotron" } }))
{@*col-md-8 col-sm-pull-2  col-md-offset-2*@
    <h1>Edit profile</h1>
    <h4>Here you can edit information about yourself.</h4>
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-group" @*style = "margin-left: 20%"*@>
        @Html.Label("FirstName", "First name:")
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            @Html.TextBox("FirstName", null, new {@class = "form-control ", placeholder = "First name", @Value = ViewBag.Profile.FirstName})
        </div>
        @Html.ValidationMessage("FirstName")
    </div>
    <div class="form-group">
        @Html.Label("LastName", "Last name:")
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            @Html.TextBox("LastName", null, new { @class = "form-control", placeholder = "Last name", @Value = ViewBag.Profile.LastName })
        </div>
        @Html.ValidationMessage("LastName")
    </div>
    <div class="form-group">
        @Html.Label("BirthDate", "Date of birth:")
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
            @Html.TextBox("BirthDate", null, new { @class = "form-control", placeholder = "11/04/1996", @Value = ViewBag.Profile.BirthDate })
        </div>
        @Html.ValidationMessage("BirthDate")
    </div>
    <div class="form-group">
        @Html.Label("City", "City:")
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-home"></i>
            </span>
            @Html.TextBox("City", null, new { @class = "form-control", placeholder = "City", @Value = ViewBag.Profile.City })
        </div>
        @Html.ValidationMessage("City")
    </div>
    <div class="form-group">
        @Html.Label("ContactPhone", "Contact phone:")
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-phone-alt"></i>
            </span>
            @Html.TextBox("ContactPhone", null, new { @class = "form-control", placeholder = "Contact phone", @Value = ViewBag.Profile.ContactPhone })
        </div>
        @Html.ValidationMessage("ContactPhone")
    </div>
    <div class="form-group">
        @Html.Label("AboutMe", "About me:")
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-pencil"></i>
            </span>@*Html.TextArea("Body", null, 10, 55, null)*@
            @Html.TextArea("AboutMe", null, new { @class = "form-control", placeholder = "About me", @Value = ViewBag.Profile.AboutMe })
        </div>
        @Html.ValidationMessage("AboutMe")
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.Gender)
        <div>
            @Html.RadioButtonFor(m => m.Gender, "true", new { id = "male_true" })
            @Html.Label("male_true", "Male")
            @Html.RadioButtonFor(m => m.Gender, "false", new { id = "male_false" })
            @Html.Label("male_false", "Female")
            @Html.ValidationMessageFor(m => m.Gender)    
        </div>
    </div>
    

    <button type="submit" class="btn btn-success btn-default text-center">Save changes</button>

}
