@{
    ViewBag.Title = "Home Page";
}


<div class="container">

    <h1 class="text-center">Gallery</h1>

    <div class="row text-center">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/1.jpeg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/1.jpeg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/2.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/2.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/3.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/3.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/4.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/4.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/5.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/5.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/6.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/6.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/7.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/7.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/8.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/8.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/9.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/9.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/10.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/10.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/11.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/11.jpg")" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content("~/Content/Images/12.jpg")" data-lightbox="roadtrip">
                <img class="img-thumbnail" src="@Url.Content("~/Content/Images/12.jpg")" alt="">
            </a>
        </div>
    </div>

</div>