
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style = "padding: 0px 26px;" href="#"><img src="@Url.Content("~/Content/Logo/logo2.png")" class="img-responsive" alt="FriendBar"></a>
    </div>
    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right text-center">
                <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                <li>@Html.ActionLink("Sign Up", "Registration", "Account")</li>
            </ul>
        </div>
    }

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right text-center ">
                <li>
                    @using (Ajax.BeginForm("SearchByNames", "Profile", new AjaxOptions {
                                                                    UpdateTargetId = "main_container",
                                                                    InsertionMode = InsertionMode.Replace,
                                                                    LoadingElementId = "processing",
                                                                    AllowCache = false,
                                                                    OnBegin = "hideContent",
                                                                    OnComplete = "unhideContent"
                                                                    }))
                    {
                        <div class="form-group center-block" style="margin-top: 8px; margin-bottom: 5px;">
                            @Html.TextBox("names", null, new {@class = "form-control", placeholder = "Search"})
                        </div>
                    }
                </li>
                <li>
                    <a class="dropdown-toggle navbar-right" role="button" data-toggle="dropdown">
                        @User.Identity.Name
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation">@Html.ActionLink("My profile", "Index", "Profile")</li>
                        <li role="presentation">@Html.ActionLink("Change image", "UploadImage", "Profile", new { FromGallery = false }, null)</li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">@Html.ActionLink("Edit", "Edit", "Profile")</li>
                        <li role="presentation">@Html.ActionLink("Settings", "Settings", "Profile")</li>
                        <li role="presentation">@Html.ActionLink("Help/About", "HelpAbout", "Profile")</li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">@Html.ActionLink("Log Out", "LogOut", "Account")</li>
                    </ul>
                </li>

            </ul>
        </div>
     }
     </div>
</div>